body{
background-image: url("img/háttér.jpg");
background-position: center;
margin: 0;
font-family: 'Times New Roman', Times, serif;

}

.container{
width: 1800px;
background: white;
margin: 40px auto;
padding: 40px;
color: black;
box-sizing: border-box;
}

.Főcím{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

.kép1{
 width: 100%;
}

.szövegmelle{
 color: white;
font-size: 30px;
line-height: 1.5;
text-align: justify;
display: block;
}

.kép{
    width: 45%;
    height: auto;
    float: left;
    margin-right: 20px;
}

.menu{
    background-color: darkred;
    height: auto;
    color: white;  
    border: 2px solid white;   
    text-align: center;
}

.menupont{
    
    list-style: none;
    display: inline-block;
    width: 120px;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
}

.doboz{
    width: 100%; 
    background-color: darkred;
    margin: 35px auto;
  padding: 35px;
  color: black;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
}

h2{
    text-align: center;
    color: white;
    font-size: 30px;
}
.szöveg1{
    text-align:center ;
    font-size: 40px;
}
.cimek{
    color: black;
    text-align: left;
    font-size: 40px;
}
.üreshely{
clear: both;
height: 40px;
}
.menupont a {
    text-decoration: none;
    color: white;
    display: block;
}


